body{
    max-width: 90%;
    background-color: rgba(170, 168, 175, 0.849);
    font-family: 'Segoe UI';
    background-image: url("test.jpg") 
    -webkit-radial-gradient();
    margin: auto;
}

.hr{
    background-color: chartreuse;
    color: chartreuse;
    height: 20px;
}

.bod{
    background-color: rgb(44, 10, 197);
    text-align: center;
    
}

.aboba{
    
    font-family: Arial, Helvetica, sans-serif;
    display: -webkit-inline-flex;
    /* background-image: url("test.jpg"); */
    background-size:contain;
    max-width:100%;

    border-top: 15px solid red;
    border-right: 5px solid green;
    background-color: hotpink;
    box-shadow: -2px 5px 20px 0px black;

    /*height: 500px ; */
}

.img_test{
    width: 100px;
    box-shadow: -9px 10px 10px black;
}
